* {
  margin: 0;
  padding: 0;
	text-decoration: none;
	color: black;
}
* {
  margin: 0;
  padding: 0;
}
#box {
  height: 74rem;
}
footer{
	z-index: 999!important;
}
footer div {
  height: 3.49333333rem;
  background: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
footer ul {
  margin-top: 0.33333333rem;
  display: flex;
}
footer ul li {
  display: block;
  width: 25%;
  flex: 1;
  text-align: center;
}
footer ul li p img {
  width: 1.53333333rem;
}
footer ul li .firstPic {
  display: block;
}
footer ul li .secondPic {
  display: none;
}
footer ul li:hover p {
  color: #3997fe;
}
footer ul li:hover .secondPic {
  display: block;
}
footer ul li:hover .firstPic {
  display: none;
}
#box_01 {
  width: 100%;
  height: 8rem;
  position: relative;
  background: #ffffff;
}
#box_01 img {
  width: 1.5rem;
  height: 1.5rem;
}
#box_01 input {
  width: 16rem;
  height: 1.5rem;
  border-radius: 1rem;
  line-height: 3rem;
  text-indent: 2rem;
  margin-left: 3.5rem;
  margin-top: 0.5rem;
  background-color: #efefef;
}
#box_01 ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 1.5rem;
}
#box_01 li {
  list-style: none;
}
#box_01 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#box_01 .box_2 ul {
  border: 1px solid #777;
  text-align: center;
  line-height: 2.5rem;
  border-left: none;
  border-right: none;
}
#box_01 .box_2 li {
  text-align: center;
  line-height: 4rem;
}
#box_01 .box_2 li .yanshi {
  width: 3rem;
  height: 2rem;
  background-color: #777;
  font-size: 0.7rem;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
}
#box_01 .box_2 li .yanshi a {
  color: white;
}
#box_01 .box_2 li .yanshi1 {
  font-size: 0.7rem;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
  margin-left: -3rem;
}
#box_01 .box_2 li .yanshi1 a {
  color: #777;
}
#box_01 .box_2 li .yanshi2 {
  margin-left: -3rem;
  font-size: 0.7rem;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
}
#box_01 .box_2 li .yanshi2 a {
  color: #777;
}
#box_01 .box_2 img {
  width: 40%;
  height: 1.5rem;
  margin-top: 0.5rem;
}
.colorred {
  color: blue;
}
#box_01 .now {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
#box_01 .tow {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}
.box_4 ul {
  margin-top: 5rem;
}
.box_4 ul li {
  width: 90%;
  height: 10rem;
  margin: 1rem;
  list-style: none;
}
.box_4 ul li h2 {
  font-size: 1.1rem;
  margin-left: 6rem;
  margin-top: -4em;
}
.box_4 ul li .one_1 {
  display: block;
  font-size: 0.8rem;
  margin-top: 1.8rem;
  margin-left: 5rem;
  color: #999;
}
.box_4 ul li .two_1 {
  display: block;
  font-size: 0.8rem;
  margin-top: -0.9rem;
  margin-left: 12rem;
  color: #999;
}
.box_4 ul li .three_1 {
  display: block;
  font-size: 1rem;
  margin-top: -2.5rem;
  margin-left: 16rem;
}
.box_4 ul li span {
  font-size: 1rem;
}
.box_4 ul li img {
  margin-top: 2rem;
  width: 5rem;
  text-align: center;
  line-height: 15rem;
}
